<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Fingerprint Features</title>

    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>Fingerprint Features</h1>
    </header>

    <main>
      <div class="container">
          <h2>Click the button below to increase the counter!<br>This simulates a certain user behaviour.</h2>
          <button type="button" id="btnBehaviour" class="">0</button>
          <button type="button" id="btnSubmit" class="">Submit fingerprint+behaviour!</button>
      </div>
      <div class="container">
        <ul id="featureList" class="list"></ul>
      </div>
    </main>

    <script src="/script.js"></script>
  </body>
</html>
